/CircularString.class
/CompoundCurve.class
/Curve.class
/CurvePolygon.class
/Geometry.class
/GeometryCollection.class
/GeometryEnvelope.class
/GeometryType.class
/Line.class
/LineString.class
/LinearRing.class
/MultiCurve.class
/MultiLineString.class
/MultiPoint.class
/MultiPolygon.class
/MultiSurface.class
/Point.class
/Polygon.class
/PolyhedralSurface.class
/Surface.class
/TIN.class
/Triangle.class
